#public_key = your kraken api public key
#private_key = your kraken api private key

#cointracking_username = your cointracking username
#cointracking_password = your cointracking password

#geckodriver = path to your geckodriver file